<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>

    <title>
        {% block title %}
            L.I.D.E
        {% endblock %}
    </title>

    <link rel="icon" type="image/png" href="{{ asset('images/logo.png') }}">

    {% block stylesheet %}
        <!--Feuille de style bootstrap -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    {% endblock %}

</head>

<body class="p-0 bg-body h-100">

<div class="flexHBox">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-height p-0">
    <a class="navbar-brand navbar-brand-font mr-3 m-0 p-3 navbar-brand-bg" href="{{ path('main_homepage') }}">L.I.D.E.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            {% block navbarCollapse %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('easyadmin')}}">Admin<span class="sr-only">(current)</span></a>
                    </li>
                {%endif%}
             {% endblock %}
        </ul>
        <div class="dropdown ml-auto buttonUser">
        {% if is_granted("ROLE_USER") %}
                <button class="btn btn-secondary dropdown-toggle w-100" href="#" id="navBarDropdownProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-person mr-2" aria-hidden="true"></span> {{ app.user.username }}
                </button>
                <div id="navDropDownMenuUser" class="dropdown-menu dropdown-menu-right" aria-labelledby="navBarDropdownProfile">
                    <a type="button" class="dropdown-item" href="{{ path('fos_user_security_logout') }}">
                        <span class="oi oi-account-logout mr-2"></span> Déconnexion
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="profile">
                        <span class="oi oi-cog mr-2" aria-hidden="true"></span> Modifier le profil
                    </a>
                </div>
        {% else %}
            <div class="btn-group w-100">
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-secondary w-75">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Connexion
                </a>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split w-25" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('fos_user_registration_register') }}">Inscription</a>
                </div>
            </div>
        {% endif %}
        </div>

    </div>
</nav>

<div id="top-container" class="container-fluid p-0 m-0 main-container-height">
{% block body %}
{% endblock %}
</div>

</div>
{% block javascript %}
    {#<script src="{{ asset('js/plugins/jquery.min.js') }}"></script>#}
<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    {#<script src="{{ asset('js/plugins/bootstrap.min.js') }}"></script>#}
{% endblock %}
</body>
</html>
